.box {
  height: 700px;
  background-image: url(./Bg/embeiu.png);
  background-repeat: no-repeat;
  /* Ảnh vừa khung hình, có thể bị cắt */
  background-size: cover;
  /* Ảnh không di chuyển khi cuộn trang */
  background-attachment: fixed;
  /* Ảnh di chuyển khi cuộn trang */
  background-attachment: scroll;
  /* Ảnh cố định trong bố cục con */
  background-attachment: local;
}
.test_local {
  color: rgb(17, 193, 236);
  margin-top: 20px;
  height: 300px;
  width: 70%;
  overflow: auto;
  /* khi cuộn hết trang của con nó thì không cuộn trang cha */
  overscroll-behavior: contain;
  background-image: url(./Bg/embeiu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
}
body{
  background-color: pink;
}
